<!DOCTYPE html>
<!-- saved from url=(0084)https://www.trymagnumpump.com/ed/v3/mobile/?affId=DA&c1=214568&c2=1001&c3=%7Bvar2%7D -->
<html class="no-js gr__trymagnumpump_com" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<title>Magnum Pump XR</title>

<meta name="description" content="">


<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta http-equiv="content-language" content="en-us">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="HandheldFriendly" content="true">

<link rel="stylesheet" href="/mobile/main/app.css">


      <title>Magnum Pump XR</title>
      <meta name="description" content="Magnum Pump XR">
      <meta name="robots" content="noindex,nofollow,noarchive,nosnippet,noydir,noodp">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <meta http-equiv="content-language" content="en-us">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="HandheldFriendly" content="true">
      <link rel="stylesheet" href="/mobile/main/app(1).css">

      <meta name="viewport" content="width=640 , user-scalable=0">

      <link rel="stylesheet" href="/mobile/main/index-combine.css">
      <style>
         .s8-txt4{
            display: block;
          text-align: right;
          margin-right: 28px;
         }
         .footer{
            z-index: 999;
            height: 50px!important;
         }
         #section8{height: 908px!important;}
      </style>
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <script src="/mobile/main/mobile/main.js"></script>
      <script src="/mobile/main/respond.min.js"></script>
   <script type="text/javascript" charset="UTF-8" src="/mobile/main/common.js"></script><script type="text/javascript" charset="UTF-8" src="/mobile/main/util.js"></script><script type="text/javascript" charset="UTF-8" src="/mobile/main/stats.js"></script><script type="text/javascript" charset="UTF-8" src="/mobile/main/AuthenticationService.Authenticate"></script></head>
   <body data-gr-c-s-loaded="true">
            <div class="container">
         <div class="getheight">
            <div id="section-one">
               <div class="sec-hight">
                  <i class="sprite_new sprite-logo logo"></i>
                  <!--  <img src="/ed/v3/app/mobile/images/logo.png?v=1.8"  alt=""  class="logo"/>
                     -->
                 <!--  <img src="/ed/v3/app/mobile/images/usa.png"  alt=""  class="usa" width="124" height="124"/> -->
                  <i class="sprite-short-usa usa"></i>
                  <p class="s1-txt1">Medical Strength Male Enhancement</p>
                  <p class="s1-txt2">Get Maximum <br><span>Sexual Benefits</span></p>
                  <ul class="s1-txt3">
                     <li>Virility</li>
                     <li>Vitality</li>
                     <li> Vigor</li>
                  </ul>
                  <i class="sprite_new sprite-as-seen as-seen"></i>
                  <!--  <img src="/ed/v3/app/mobile/images/as-seen.png"  alt=""  class="as-seen"/> -->
                  <ul class="s1-list">
                     <li><span>Bigger &amp; Long-Lasting Erections </span></li>
                     <li><span>Increase in Penis<br> Size </span></li>
                     <li><span>Surge In Sex Drive &amp; Energy </span></li>
                     <li><span>Increased Sexual Confidence </span> </li>
                  </ul>
               </div>
               <p class="s1-txt4">Now available without a prescription!</p>
               <ul class="s1-list2">
                  <li><span>LoNger </span><br>Stamina</li>
                  <li><span>Harder</span><br>ErectionS</li>
                  <li><span>Stronger </span><br>Performance </li>
               </ul>
               <!--<div class="lead-scroll"> <a href="#theTime" id="anchor" class="lead-link" data-placement="top" data-toggle="tooltip" data-original-title="START HERE"> <svg class="arrows">
                  <path class="a1" stroke-linecap="round" stroke-linejoin="round" d="M0 0 L30 32 L60 0"></path>
                  <path class="a2" stroke-linecap="round" stroke-linejoin="round" d="M0 20 L30 52 L60 20"></path>
                  <path class="a3" stroke-linecap="round" stroke-linejoin="round" d="M0 40 L30 72 L60 40"></path>
                  </svg> </a> </div>-->
               <div class="down-arrow">
                  <!-- <img src="/ed/v3/app/mobile/images/down-arrow.png" alt="" class="arrow">
                     <img src="/ed/v3/app/mobile/images/down-arrow.png" alt="" class="arrow">
                     <img src="/ed/v3/app/mobile/images/down-arrow.png" alt="" class="arrow"> -->
                  <img src="/mobile/main/down-aroow-new.gif" alt="" width="62" height="107">
               </div>
            </div>
            <div id="section-two">
               <p class="s2-txt1"><span>The Sexual Health Divide </span><br>
                  Are You Suffering From The <br>
                  Following Symptoms
               </p>
               <p class="s2-txt2">Leading surveys on sexual health and satisfaction levels
                  among American men have revealed the following:
               </p>
               <div class="both-part">
                  <div class="s2-lft">
                     <!-- <img src="/ed/v3/app/mobile/images/s2-img1.png" alt="" class="s2-img1" /> --><i class="spritee sprite-s2-img1 s2-img1"></i>
                  </div>
                  <div class="s2-rgt">
                     <p class="s2-rgt-txt">Say sexual health impacts on overall life satisfaction</p>
                  </div>
                  <p class="clearall"></p>
                  <div class="s2-rgt2">
                     <p class="s2-rgt2-txt">Of men suffer from Small Penis Syndrome </p>
                  </div>
                  <div class="s2-lft2">
                     <!-- <img src="/ed/v3/app/mobile/images/s2-img2.png" alt="" class="s2-img1" /> --><i class="spritee sprite-s2-img2 s2-img1"></i>
                  </div>
                  <p class="clearall"></p>
                  <div class="s2-lft">
                     <!-- <img src="/ed/v3/app/mobile/images/s2-img3.png" alt="" class="s2-img1" /> --><i class="spritee sprite-s2-img3 s2-img1"></i>
                  </div>
                  <div class="s2-rgt">
                     <p class="s2-rgt-txt">Believe embarrassment is a major sexual barrier</p>
                  </div>
                  <p class="clearall"></p>
                  <div class="s2-rgt2">
                     <p class="s2-rgt2-txt">Avoid sex altogether because of lack of sexual confidence </p>
                  </div>
                  <div class="s2-lft2">
                     <!-- <img src="/ed/v3/app/mobile/images/s2-img4.png" alt="" class="s2-img1" /> --><i class="spritee sprite-s2-img4 s2-img1"></i>
                  </div>
               </div>
            </div>
            <div id="section-three">
               <p class="s3-txt1"><span>Introducing <b>Magnum Pump XR </b></span><br>Male Enhancement System</p>
               <i class="sprite_new sprite-s3-line s3-line"></i>
               <!--   <img src="/ed/v3/app/mobile/images/s3-line.png" alt="" class="s3-line" /> -->
               <p class="s3-txt2">Made with a blend of clinical strength ingredients, <b>Magnum Pump XR </b> is a male enhancement
                  system that has been formulated to restore your sexual youth and performance and help you experience
                  an intense, blissful &amp; powerful sex life. <br><br>
                  <b>Magnum Pump XR </b> dual action formula not only gives you an instant surge in sexual power &amp; performance - but
                  also treats the root cause of sexual dysfunctions, ensuring that you are able to satisfy your partner, consistently!
               </p>
               <div class="s3-bg">
                  <p class="s3-txt3">Triple IntenSity <br>
                     <b> Male Enhancement</b>
                     <br>For maximum Results
                  </p>
               </div>
               <i class="sprite_new sprite-s3-modal s3-modal"></i>
               <!--   <img src="/ed/v3/app/mobile/images/s3-modal.png" alt="" class=" s3-modal" /> -->
               <p class="s3-txt4">
                  The pro-sexual nutrient matrix in <b>Magnum Pump XR </b> helps boost the <b>3S's of Sex - Size, Stamina &amp; Satisfaction</b>,
                  helping you peak perform and pleasure your partner just like you did in your 20's!
               </p>
               <div class="order-bg">
                  <p class="order-bg-txt"><span>ORDER YOUR <b>Magnum Pump XR </b> TODAY!</span>
                     <br>Experience Sexual Power, Pleasure &amp; Performance
                  </p>
               </div>
            </div>
            <div id="section-four">
               <p class="s3-txt1"><span>The Science BEHIND </span><br>BETTER, LONGER &amp; INTENSE SEX!</p>
               <i class="sprite_new sprite-s3-line s3-line"></i>
               <!--  <img src="/ed/v3/app/mobile/images/s3-line.png" alt="" class="s3-line" /> -->
               <p class="s4-txt1">The blood flow to the penis is responsible for erections while the
                  holding capacity of the penis chambers is what influences sexual stamina
                  and staying power. <b>Magnum Pump XR </b> helps boost both to help you and your partner
                  partner enjoy intense orgasms and complete satisfaction.
               </p>
               <p class="s4-txt2"><b>Magnum Pump XR </b> stimulates Nitric Oxide production to boost the flow of blood to the penile chambers for harder and stronger erections. It also expands the penis chambers allowing it to hold more blood, increasing sexual stamina, strength and staying power.  </p>
               <!-- <img src="/ed/v3/app/mobile/images/doc.png" alt="" class="doc" width="265" height="479" /> -->
               <i class="sprite-short-doc doc"></i>
               <!-- <img src="/ed/v3/app/mobile/images/seal2.png" alt="" class="seal2" width="111" height="111" /> -->
               <i class="sprite-short-seal2 seal2"></i>
               <i class="sprite_new sprite-blood-img blood-img"></i>
               <!--  <img src="/ed/v3/app/mobile/images/blood-img.png" alt="" class="blood-img" /> -->
               <!-- <img src="/ed/v3/app/mobile/images/orange-bg.png" alt="" class="orange-bg" width="640" height="267" /> -->
               <i class="sprite-short-orange-bg orange-bg"></i>
               <p class="orange-bg-txt"><b>Magnum Pump XR </b> utilizes a breakthrough rapid absorption and extended release technology. Rapid absorption of the ingredients into the bloodstream aid in delivering instant surge of sexual power while the extended release technology delivers sustained results that help you enjoy on command erections and stamina to last all night long.
               </p>
               <div class="clearall"></div>
               <p class="s4-txt3"><span><b>Magnum Pump XR </b> </span>works by
                  triggering the two
                  mechanisms known
                  to increase penis size, function and
                  performance.
                  These are:
               </p>
               <i class="sprite_new sprite-s4-img s4-img"></i>
               <!-- <img src="/ed/v3/app/mobile/images/s4-img.png?V=1" alt="" class="s4-img" /> -->
               <!-- <img src="/ed/v3/app/mobile/images/step1.png" alt="" class="step1" width="297" height="45" /> -->
               <i class="sprite-short-step1 step1"></i>
               <p class="s4-txt4">An increase in <br>
                  "free" testosterone<br>
                  and
               </p>
               <!-- <img src="/ed/v3/app/mobile/images/step2.png" alt="" class="step2" width="297" height="45" /> -->
               <i class="sprite-short-step2 step2"></i>
               <p class="s4-txt4">Nitric Oxide <br>
                  production to the <br>
                  penis.
               </p>
               <br>
               <div class="order-bg" style="margin-top:6px;">
                  <p class="order-bg-txt"><span>ORDER YOUR <b>Magnum Pump XR </b> TODAY!</span>
                     <br>Experience Sexual Power, Pleasure &amp; Performance
                  </p>
               </div>
            </div>
            <div id="section-five">
               <p class="s3-txt1"><span>The Benefits of <b>Magnum Pump XR </b></span><br>ADVANCED MALE ENHANCEMENT!</p>
               <i class="sprite_new sprite-s3-line s3-line"></i>
               <!--  <img src="/ed/v3/app/mobile/images/s3-line.png" alt="" class="s3-line" /> -->
               <p class="s4-txt1"><span>Magnum Pump XR  Male Enhancement System</span> offers multiple sexual health benefits to help you
                  enjoy hard erections, increased stamina and peak performance.
               </p>
               <ul class="sec5-list">
                  <li>
                     <!--  <img src="/ed/v3/app/mobile/images/s5-img1.png" alt=""  id="object1"/ style="margin:0 0 7px 0;"> -->
                     <i class="sprite_new sprite-s5-img1" id="object1"></i>
                     <br>
                     <span>IMPROVED LIBIDO &amp; SEX DRIVE</span><br>
                     Get ready to experience a torrent of desire &amp; passion with <b>Magnum Pump XR </b>,
                     which replenishes sexual energy stores across the body like never before.
                  </li>
                  <li>
                     <!--  <img src="/ed/v3/app/mobile/images/s5-img5.png" alt="" id="object5" style="margin:0 0 7px 0;"/> -->
                     <i class="sprite_new sprite-s5-img5" id="object5"></i>
                     <br>
                     <span>BIGGER, HARDER &amp; LONGER ERECTIONS</span><br>
                     <b>Magnum Pump XR </b> lets you achieve rock hard erections on command helping
                     you and your partner enjoy insane sexual sessions, whenever
                     you desire.
                  </li>
                  <li>
                     <!-- <img src="/ed/v3/app/mobile/images/s5-img2.png" alt=""  id="object2" style="margin:0 0 7px 0;"/> -->
                     <i class="sprite_new sprite-s5-img2" id="object2"></i>
                     <br>
                     <span>INCREASED STAYING POWER</span><br>
                     Bid goodbye to pre-mature ejaculations! <b>Magnum Pump XR </b> floods your penile
                     chambers with a gush of blood letting you last 5X more than usual
                     and helping you last all night long!
                  </li>
                  <li>
                     <!-- <img src="/ed/v3/app/mobile/images/s5-img3.png" alt=""  id="object3"  style="margin:0 0 7px 0;"/> -->
                     <i class="sprite_new sprite-s5-img3" id="object3"></i>
                     <br>
                     <span>INCREASED PENIS SIZE</span><br>
                     Increase in penile chamber capacity and regular boost in blood
                     flow may help add those inches to your penis size, both length &amp; girth wise.
                  </li>
                  <li>
                     <!-- <img src="/ed/v3/app/mobile/images/s5-img4.png" alt="" id="object4" style="margin:0 0 7px 0;"/> -->
                     <i class="sprite_new sprite-s5-img4" id="object4"></i>
                     <br>
                     <span>IMPROVED SEXUAL CONFIDENCE</span><br>
                     Equipped with youthful sexual powers &amp; energy, you are sure to
                     experience sexual confidence like never before, gives you greater
                     success with the most desirable women!
                  </li>
               </ul>
               <div class="seal-bg">
                  <!-- <img src="/ed/v3/app/mobile/images/us-seal.png" width="120" height="120" alt="" class="s5seal" /> -->
                  <i class="sprite-short-us-seal s5seal"></i>
                  <p class="seal-txt1">Magnum Pump XR  is proudly made in the United States of America <span>at a certified manufacturing
                     facility to meet statutory industry standards.</span>
                  </p>
               </div>
               <div class="order-bg" style="margin-top:17px;">
                  <p class="order-bg-txt"><span>ORDER YOUR <b>Magnum Pump XR </b> TODAY!</span>
                     <br>Experience Sexual Power, Pleasure &amp; Performance
                  </p>
               </div>
            </div>
            <div id="section-six">
               <p class="s3-txt1"><span>POWERFUL INGREDIENTS</span><br>FOR Bigger RESULTS
               </p>
               <i class="sprite_new sprite-s3-line s3-line"></i>
               <!-- <img src="/ed/v3/app/mobile/images/s3-line.png" alt="" class="s3-line" / -->
               <ul class="sec6-list">
                  <li>
                     <!-- <img src="/ed/v3/app/mobile/images/s6-img1.png" alt=""  id="object6"/> --><i class="spritee sprite-s6-img1" id="object6"></i><br>
                     <span>L-Arginine</span><br>
                     Stimulates nitric oxide production to boost blood circulation to the penis helping achieve biggers and stronger erections.
                  </li>
                  <li>
                     <!-- <img src="/ed/v3/app/mobile/images/s6-img2.png" alt=""  id="object7" /> --><i class="spritee sprite-s6-img2" id="object7"></i><br>
                     <span style="color:#d50023;">Asian Red Ginger Extracts</span><br>
                     Positively influences mood patterns to reduce stress and promote relaxation, enabling men to perform at their peak.
                  </li>
                  <li>
                     <!-- <img src="/ed/v3/app/mobile/images/s6-img3.png" alt=""  id="object8"  /> --><i class="spritee sprite-s6-img3" id="object8"></i><br>
                     <span style="color:#083c90;">SAW PALMETTO BERRY </span><br>
                     Helps increase staying power ensuring you and your partner enjoy longer sessions with intense orgasms.
                  </li>
                  <li>
                     <!-- <img src="/ed/v3/app/mobile/images/s6-img4.png" alt="" id="object9" /> --><i class="spritee sprite-s6-img4" id="object9"></i><br>
                     <span style="color:#703135;">HORNY GOAT WEED EXTRACT</span><br>
                     Works synergistically with the other pro-sexual nutrients to boost blood flow to the penile chambers for improved
                     erections. It also helps expand the chambers to increase blood holding capacity and in-turn staying power.
                  </li>
                  <li>
                     <!-- <img src="/ed/v3/app/mobile/images/s6-img5.png" alt="" id="object10" /> --><i class="spritee sprite-s6-img5" id="object10"></i><br>
                     <span style="color:#703135;">BIOPERINE</span><br>
                     Helps support the formula's quick absorption technology. This allows the key herbal ingredients that support male
                     enhancement to be absorbed quickly into the blood stream, triggering an instant boost in sexual energy, stamina and erections.
                  </li>
               </ul>
               <div class="order-bg" style="margin-top:20px;">
                  <p class="order-bg-txt"><span>ORDER YOUR <b>Magnum Pump XR </b> TODAY!</span>
                     <br>Experience Sexual Power, Pleasure &amp; Performance
                  </p>
               </div>
            </div>
            <div id="section7">
               <p class="s7-txt1"><span>REAL MEN, REAL RESULTS</span><br>SUCCESS STORIES</p>
               <!-- <img src="/ed/v3/app/mobile/images/line2.png" alt="" class="s7-line" width="628" height="7" /> -->
               <i class="sprite-short-line2 s7-line"></i>
               <!-- <i class="spritee sprite-line2 s7-line"></i> -->
               <p class="s7-txt2"><span><b>Magnum Pump XR </b> has helped hundreds of men across all ages</span> beat sexual dysfunction
                  and enjoy a fuller and satisfied sex life.
               </p>
               <div class="slider slick-initialized slick-slider"><button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;"></button>
                  <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 3600px; transform: translate3d(-600px, 0px, 0px);"><div class="slide4 slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" tabindex="-1" style="width: 600px;">
                     <i class="sprite_new sprite-s7-slid4 s7-slid-img"></i>
                     <!-- <img src="/ed/v3/app/mobile/images/s7-slid4.png" alt="" class="s7-slid-img" /> -->
                     <p class="sec7-text3">Age related decline in sexual health along with onset of mild ED had left me pretty shattered. I came
                        across <b>Magnum Pump XR </b> on a very reputed blog for male health and decided to give it a try. It has been the best decision I ever made.
                        My sex drive has really taken off, my erections are back to their firm and the increase in sexual stamina is just amazing!
                     </p>
                     <p class="sec7-text4">- Sean Carter, 56</p>
                     <center>
                        <!-- <img src="/ed/v3/app/mobile/images/stars.png" alt="" class="stars" /> --><i class="sprite_new sprite-stars stars"></i>
                     </center>
                  </div><div class="slide1 slick-slide slick-current slick-active" data-slick-index="0" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide00" style="width: 600px;">
                     <i class="sprite_new sprite-s7-slid1 s7-slid-img"></i>
                     <!--   <img src="/ed/v3/app/mobile/images/s7-slid1.png"  alt="" class="s7-slid-img"/> -->
                     <p class="sec7-text3"><b><b>Magnum Pump XR </b></b> is truly the best male enhancement system in the market! Unlike other products that have
                        synthetics, <b>Magnum Pump XR </b> is made with herbal extracts and botanicals which have been clinically proven to boost virility. I did a
                        thorough research before picking up the product and the results have been truly phenomenal. Highly recommended.
                     </p>
                     <p class="sec7-text4">- Carlos Velez, 43 </p>
                     <center>
                        <!-- <img src="/ed/v3/app/mobile/images/stars.png" alt="" class="stars" /> --><i class="sprite_new sprite-stars stars"></i>
                     </center>
                  </div><div class="slide2 slick-slide" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 600px;">
                     <i class="sprite_new sprite-s7-slid2 s7-slid-img"></i>
                     <!--  <img src="/ed/v3/app/mobile/images/s7-slid2.png" alt="" class="s7-slid-img" /> -->
                     <p class="sec7-text3">The age related ED issues were very frustrating and no pill seemed to work! When my friend
                        recommended <b>Magnum Pump XR </b>, I decided I will give it a try and I am glad I did! It has helped me boost my sexual stamina,
                        size and confidence. And guess who is a bigger fan of <b><b>Magnum Pump XR </b></b> than me, my wife!
                     </p>
                     <p class="sec7-text4">- Rob Greco, 54</p>
                     <center>
                        <!--  <img src="/ed/v3/app/mobile/images/stars.png" alt="" class="stars" /> --><i class="sprite_new sprite-stars stars"></i>
                     </center>
                  </div><div class="slide3 slick-slide" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02" style="width: 600px;">
                     <i class="sprite_new sprite-s7-slid3 s7-slid-img"></i>
                     <!--  <img src="/ed/v3/app/mobile/images/s7-slid3.png" alt="" class="s7-slid-img" /> -->
                     <p class="sec7-text3">Its great to know that my favorite male enhancement supplement is now available in the market without
                        a prescription! I have been using <b>Magnum Pump XR </b> for a few months now and the results have been truly "huge"! I am able to enjoy
                        harder erections, increased sexual drive and stamina, which lets me enjoy love making just like I used to when I was in my 30s!
                     </p>
                     <p class="sec7-text4">- Vincent Harper, 49</p>
                     <center>
                        <!--  <img src="/ed/v3/app/mobile/images/stars.png" alt="" class="stars" /> --><i class="sprite_new sprite-stars stars"></i>
                     </center>
                  </div><div class="slide4 slick-slide" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03" style="width: 600px;">
                     <i class="sprite_new sprite-s7-slid4 s7-slid-img"></i>
                     <!-- <img src="/ed/v3/app/mobile/images/s7-slid4.png" alt="" class="s7-slid-img" /> -->
                     <p class="sec7-text3">Age related decline in sexual health along with onset of mild ED had left me pretty shattered. I came
                        across <b>Magnum Pump XR </b> on a very reputed blog for male health and decided to give it a try. It has been the best decision I ever made.
                        My sex drive has really taken off, my erections are back to their firm and the increase in sexual stamina is just amazing!
                     </p>
                     <p class="sec7-text4">- Sean Carter, 56</p>
                     <center>
                        <!-- <img src="/ed/v3/app/mobile/images/stars.png" alt="" class="stars" /> --><i class="sprite_new sprite-stars stars"></i>
                     </center>
                  </div><div class="slide1 slick-slide slick-cloned" data-slick-index="4" aria-hidden="true" tabindex="-1" style="width: 600px;">
                     <i class="sprite_new sprite-s7-slid1 s7-slid-img"></i>
                     <!--   <img src="/ed/v3/app/mobile/images/s7-slid1.png"  alt="" class="s7-slid-img"/> -->
                     <p class="sec7-text3"><b><b>Magnum Pump XR </b></b> is truly the best male enhancement system in the market! Unlike other products that have
                        synthetics, <b>Magnum Pump XR </b> is made with herbal extracts and botanicals which have been clinically proven to boost virility. I did a
                        thorough research before picking up the product and the results have been truly phenomenal. Highly recommended.
                     </p>
                     <p class="sec7-text4">- Carlos Velez, 43 </p>
                     <center>
                        <!-- <img src="/ed/v3/app/mobile/images/stars.png" alt="" class="stars" /> --><i class="sprite_new sprite-stars stars"></i>
                     </center>
                  </div></div></div>



               <button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;"></button></div>
            </div>
            <p class="clearall"></p>
            <div id="section8">
               <i class="sprite_new sprite-logo s8-logo"></i>
               <!--  <img src="/ed/v3/app/mobile/images/logo.png?V=1.8"  alt=""  class="s8-logo"/> -->
               <img src="/mobile/main/usa.png" alt="" class="s8-usa" width="124" height="124">
               <p class="s8-txt1">Medical Strength Male Enhancement</p>
               <p class="s8-txt2">Get Maximum <br><span>Sexual Benefits</span></p>
               <ul class="s8-list">
                  <li><span>Bigger &amp; Long-Lasting Erections </span></li>
                  <li><span>Increase in Penis<br> Size </span></li>
                  <li><span>Surge In Sex Drive &amp; Energy </span></li>
                  <li><span>Increased Sexual Confidence </span> </li>
               </ul>
               <p class="s8-txt4">Now available without a prescription!</p>
              <!--  <div id="science-info">
                  <img src="/ed/v3/app/mobile/images/science-info.png" width="800" height="257">
                  <p>Representations regarding the efficacy and safety of Magnum Pump XR  have not been scientifically substantiated or evaluated by the Food and Drug Administration. <a href="http://www.jurology.com/article/S0022-5347(05)64298-X/abstract" target="_blank">Click here</a> or <a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3861174/" target="_blank">Click here</a> to find evidence of a test, analysis, research, or study describing the benefits, performance or efficacy of epimedium based on the expertise of relevant professionals.</p>
               </div> -->
            </div>
         </div>
         <div class="fixbox" style="background:#fff; bottom: 55px; position: fixed; z-index: 9999999">
            <div class="stick_bar mask pseudo">
               <!-- <img src="/ed/v3/app/mobile/images/productbox.png" alt="" class="bottle" width="182" height="169" /> -->
               <i class="sprite-short-productbox bottle"></i>
               <a href="name">
                  <!-- <img src="/ed/v3/app/mobile/images/order-btn.png" alt="" class="btn pulse" width="415" height="84"> -->
                  <i class="sprite-short-order-btn btn pulse"></i>
               </a>
               <!-- <img src="/ed/v3/app/mobile/images/scure.png" alt=""  class="security2" width="164" height="39" /> -->
               <i class="sprite-short-scure security2"></i>
            </div>
         </div>

      <div class="footer" style="bottom: 0px;">
         <div class="wrap">
            <ul>
               <li><a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;../page-contact.php&#39;,&#39;modal&#39;);">Contact</a>
               </li>
               <li>|</li>
               <li><a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;../page-privacy.php&#39;,&#39;modal&#39;);">Privacy Policy</a>
               </li>
               <li>|</li>
               <li><a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;../page-terms.php&#39;,&#39;modal&#39;);">Terms &amp; Conditions</a>
               </li>
            </ul>
         </div>
      </div>
      </div>


      <a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;/ed/v3/cms/1/privacy-policy&#39;); return false;">Privacy Policy</a> |
<a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;/ed/v3/cms/2/terms-conditions&#39;); return false;">Terms &amp; Conditions</a> |
<a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;/ed/v3/cms/3/contact-us&#39;); return false;">Contact Us</a>      <!-- <div id="exitpopup-overlay" class="exitpopup-overlay">
          <div id="exit_pop" class="exitpop-content">
              <a href="">
                  <img src="/ed/v3/assets/images/downsell.jpg" />
              </a>
          </div>
      </div> -->

            <script type="text/javascript">AJAX_PATH="ajax.php/"; app_config={"valid_class":"no-error","error_class":"has-error","loading_class":"loading","crm_type":"konnektive","exit_popup_enabled":false,"exit_popup_element_id":"","exit_popup_page":"","offer_path":"\/ed\/v3\/","current_step":1,"cbtoken":"","dev_mode":"N","show_validation_errors":"modal","allowed_tc":"8\"m0l0d0J050k050O0lv8sm\"l[r0j0V0H0q0h0k0R0X|Niraj]","allowed_country_codes":["US"],"countries":{"US":{"name":"United States","states":{"AL":{"name":"Alabama"},"AK":{"name":"Alaska"},"AS":{"name":"American Samoa"},"AZ":{"name":"Arizona"},"AR":{"name":"Arkansas"},"AE":{"name":"Armed Forces Middle East"},"AA":{"name":"Armed Forces Americas"},"AP":{"name":"Armed Forces Pacific"},"CA":{"name":"California"},"CO":{"name":"Colorado"},"CT":{"name":"Connecticut"},"DE":{"name":"Delaware"},"DC":{"name":"District of Columbia"},"FM":{"name":"Federated States of Micronesia"},"FL":{"name":"Florida"},"GA":{"name":"Georgia"},"GU":{"name":"Guam"},"HI":{"name":"Hawaii"},"ID":{"name":"Idaho"},"IL":{"name":"Illinois"},"IN":{"name":"Indiana"},"IA":{"name":"Iowa"},"KS":{"name":"Kansas"},"KY":{"name":"Kentucky"},"LA":{"name":"Louisiana"},"ME":{"name":"Maine"},"MD":{"name":"Maryland"},"MA":{"name":"Massachusetts"},"MI":{"name":"Michigan"},"MN":{"name":"Minnesota"},"MS":{"name":"Mississippi"},"MO":{"name":"Missouri"},"MT":{"name":"Montana"},"NE":{"name":"Nebraska"},"NV":{"name":"Nevada"},"NH":{"name":"New Hampshire"},"NJ":{"name":"New Jersey"},"NM":{"name":"New Mexico"},"NY":{"name":"New York"},"NC":{"name":"North Carolina"},"ND":{"name":"North Dakota"},"MP":{"name":"Northern Mariana Islands"},"OH":{"name":"Ohio"},"OK":{"name":"Oklahoma"},"OR":{"name":"Oregon"},"PA":{"name":"Pennsylvania"},"PR":{"name":"Puerto Rico"},"MH":{"name":"Republic of Marshall Islands"},"RI":{"name":"Rhode Island"},"SC":{"name":"South Carolina"},"SD":{"name":"South Dakota"},"TN":{"name":"Tennessee"},"TX":{"name":"Texas"},"UT":{"name":"Utah"},"VT":{"name":"Vermont"},"VI":{"name":"Virgin Islands of the U.S."},"VA":{"name":"Virginia"},"WA":{"name":"Washington"},"WV":{"name":"West Virginia"},"WI":{"name":"Wisconsin"},"WY":{"name":"Wyoming"}}}},"country_lang_mapping":{"US":{"state":"State:","zip":"Zip Code:"},"GB":{"state":"County:","zip":"Postal Code:"},"CA":{"state":"Province:","zip":"Pin Code:"},"IN":{"state":"State:","zip":"Pin:"}},"device_is_mobile":true,"pageType":"leadPage","enable_browser_back_button":false}</script><script type="text/javascript">app_lang={"error_messages":{"zip_invalid":"Please enter a valid zip code!","email_invalid":"Please enter a valid email id!","cc_invalid":"Please enter a valid credit card number!","cvv_invalid":"Please enter a valid CVV code!","card_expired":"Card seems to have expired already!","common_error":"Oops! Something went wrong! Can you please retry?","not_checked":"Please check the agreement box in order to proceed.","ca_zip_invalid":"Invalid Canada state code","xv_invalid_shipping":"Your shipping address could not be verified","xv_email":"Your email address could not be verified","xv_phone":"Your phone number could not be verified"},"exceptions":{"config_error":"General config error","config_file_missing":"General config error","invalid_array":"Argument is not a valid array","empty_prospect_id":"Prospect ID is empty or invalid","curl_error":"Something went wrong with the request, Please try again.","generic_error":"Something went wrong with the request, Please try again."}};</script>
<script>var input_mask_data = {"enable_masking":false,"masking_device":["desktop"],"credit_card_place_holder_active":true,"credit_card_masking_placeholder":"blank","credit_card_masking":"dash_masking","phone_number_masking":"(000) 000-0000"};</script>
<script type="text/javascript">var cbUtilConfig = {"disable_non_english_char_input":false};</script>
<script src="/mobile/main/codebase.min.js" type="text/javascript"></script><script>$(function(){$.get("/ed/v3/ajax.php/extensions/trafficloadbalancer/initialize");});</script><script>$(function(){$.get("/ed/v3/ajax.php/extensions/konnektiveutilpack/fire-import-click");});</script>
<script async="" defer="" src="/mobile/main/js"></script>
<script>var event_type= 'blur';var autopopulate_by= 'zip'</script>


      <!-- <script src="/ed/v3/app/mobile/js/jquery.min.js"></script> -->
      <script src="/mobile/main/mobile/main.min.js"></script>
      <script src="/mobile/main/slick.js"></script>
     <script>
         $(document).ready(function(){
            $('.order-button').bind('click', function(evt) {
                 evt.preventDefault();

                 $('html, body').animate({
                     scrollTop: $("form").offset().top
                 }, 1000);

                 $("input[name=shipToFirstName]").focus();
             });


         $('.slider').slick({
         dots:false,
         slidesToShow: 1,
         slidesToScroll: 1,
         autoplay:false,
         autoplaySpeed:8000,
         adaptiveHeight: false,
         fade: false,
         focusOnSelect: false,
         });


         $(document).scroll(function() {

         var geth = $(".getheight").height()-1000;
         // alert(geth);

         var y = $(this).scrollTop();
         if (y > geth){
             //$('.legal').slideDown("slow");
         } else {
             //$('.legal').slideUp("slow");
         }

         // $('#object1').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("slideInUp");
         // }
         // });

         // $('#object2').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("zoomIn");
         // }
         // });

         // $('#object3').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("zoomIn");
         // }
         // });

         // $('#object4').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("zoomIn");
         // }
         // });

         // $('#object5').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("zoomIn");
         // }
         // });



         // $('#object6').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("zoomIn");
         // }
         // });

         // $('#object7').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("zoomIn");
         // }
         // });

         // $('#object8').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("zoomIn");
         // }
         // });

         // $('#object9').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("zoomIn");
         // }
         // });
         // $('#object10').each(function(){
         // var imagePos = $(this).offset().top;

         // var topOfWindow = $(window).scrollTop();
         // if (imagePos < topOfWindow+700) {
         // $(this).addClass("zoomIn");
         // }
         // });


         });
         $(window).scroll(function () {
         // if($(window).scrollTop() >= $(document).height() - $(window).height() - 60) {
         // $('.footer').stop().animate({
         //   bottom: "0",

         // }, 400);
         // $('.fixbox').stop().show().animate({
         //   bottom: "94px"
         // }, 400);


         // }else{
         // $('.footer').stop().animate({
         //    bottom: "-94px",

         // }, 400,
         // function () {  });

         // $('.fixbox').stop().show().animate({
         //   bottom: "0"
         // }, 400);
         // }
         });        });
      </script>

</body></html>
