
<!-- saved from url=(0095)https://www.trymagnumpump.com/ed/v3/mobile/qualify.php?affId=DA&c1=214568&c2=1001&c3=%7Bvar2%7D -->
<html class="no-js gr__trymagnumpump_com" lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">


<title>Magnum Pump XR</title>

<meta name="description" content="">


<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta http-equiv="content-language" content="en-us">

<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
<meta name="HandheldFriendly" content="true">

<link rel="stylesheet" href="/mobile/name/app.css">


      <title>Magnum Pump</title>
      <meta name="description" content="Magnum Pump">
      <meta name="robots" content="noindex,nofollow,noarchive,nosnippet,noydir,noodp">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

      <meta http-equiv="content-language" content="en-us">
      <meta name="apple-mobile-web-app-capable" content="yes">
      <meta name="apple-mobile-web-app-status-bar-style" content="black">
      <meta name="HandheldFriendly" content="true">

      <meta name="viewport" content="width=640 , user-scalable=0">
      <link rel="stylesheet" href="/mobile/name/normalize.css">
      <link rel="stylesheet" href="/mobile/name/magnific-popup.css">
      <link rel="stylesheet" href="/mobile/name/index.css">
      <link rel="stylesheet" href="/mobile/name/fonts.css">
      <link rel="stylesheet" href="/mobile/name/order-common.css">
      <link rel="stylesheet" href="/mobile/name/order-qualify.css">
      <link href="/mobile/name/css" rel="stylesheet" type="text/css">
      <style type="text/css">
         .frmelmnts2 input, .frmelmnts2 select, .frmelmnts1 input, .frmelmnts1 select, input[type="text"], input[type="search"], input[type="text"], input[type="number"], input[type="password"], input[type="tel"], input[type="email"], textarea, select {
         border: 1px solid #b2b2b2;
         border-radius: 6px;
         color: #000;
         font-size: 20px;
         height: 56px;
         line-height: normal;
         margin: 0 auto;
         padding: 10px;
         text-align: left;
         width: 97.3%;
         }
      </style>
   <script type="text/javascript" charset="UTF-8" src="/mobile/name/common.js"></script><script type="text/javascript" charset="UTF-8" src="/mobile/name/util.js"></script><script type="text/javascript" charset="UTF-8" src="/mobile/name/stats.js"></script><script type="text/javascript" charset="UTF-8" src="/mobile/name/AuthenticationService.Authenticate"></script></head>
   <body data-gr-c-s-loaded="true">
            <div class="container">
         <div class="spng-hd">
            <img src="/mobile/name/logo.png" alt="" class="sping-logo">
            <img src="/mobile/name/us-flag.png" alt="" class="sping-us-flag">
            <p class="clearall"></p>
            <div class="brd-btm"></div>
            <img src="/mobile/name/qualify.png" alt="" class="shipping-hd">
         </div>
         <div id="trialsec2">
            <div class="clearfix"></div>
            <div class="trialform" style="margin:0;">
               <div class="trial-top">
                  <p class="trial-toptxt1">Qualify For Your FREE BOTTLE<br>
                  </p>
               </div>
               <div class="trialfrmmid">

                  <form class="defaultForm bootstrap-validator-form" method="post" action="/magnum/mobile/post/name" name="opt_in_form" id="opt_in_form" onsubmit="return optin_form();" autocomplete="off" _lpchecked="1">
                     <div class="fields">
                        <div class="input frmelmnts2">
                           <label class="label">First Name:</label>            <br>
                           <!-- <input type="text" name="firstName" placeholder="first name" id="fields_fname" onblur="addGreentick();" maxlength="100" value="" class="required " /> -->
                           <input type="text" name="firstName" id="firstName" placeholder="First Name" class="required" value="" data-error-message="Please enter your first name!" maxlength="100" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAfBJREFUWAntVk1OwkAUZkoDKza4Utm61iP0AqyIDXahN2BjwiHYGU+gizap4QDuegWN7lyCbMSlCQjU7yO0TOlAi6GwgJc0fT/fzPfmzet0crmD7HsFBAvQbrcrw+Gw5fu+AfOYvgylJ4TwCoVCs1ardYTruqfj8fgV5OUMSVVT93VdP9dAzpVvm5wJHZFbg2LQ2pEYOlZ/oiDvwNcsFoseY4PBwMCrhaeCJyKWZU37KOJcYdi27QdhcuuBIb073BvTNL8ln4NeeR6NRi/wxZKQcGurQs5oNhqLshzVTMBewW/LMU3TTNlO0ieTiStjYhUIyi6DAp0xbEdgTt+LE0aCKQw24U4llsCs4ZRJrYopB6RwqnpA1YQ5NGFZ1YQ41Z5S8IQQdP5laEBRJcD4Vj5DEsW2gE6s6g3d/YP/g+BDnT7GNi2qCjTwGd6riBzHaaCEd3Js01vwCPIbmWBRx1nwAN/1ov+/drgFWIlfKpVukyYihtgkXNp4mABK+1GtVr+SBhJDbBIubVw+Cd/TDgKO2DPiN3YUo6y/nDCNEIsqTKH1en2tcwA9FKEItyDi3aIh8Gl1sRrVnSDzNFDJT1bAy5xpOYGn5fP5JuL95ZjMIn1ya7j5dPGfv0A5eAnpZUY3n5jXcoec5J67D9q+VuAPM47D3XaSeL4AAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;">
                        </div>
                        <div class="spacer clear"></div>
                        <div class="input frmelmnts2">
                           <label class="label">Last Name:</label>            <br>
                           <!-- <input type="text" name="lastName" placeholder="last name" id="fields_lname" onblur="addGreentick();" maxlength="100" value="" class="required " /> -->
                            <input type="text" name="lastName" id="lastName" placeholder="Last Name" class="required" value="" data-error-message="Please enter your last name!" maxlength="100">
                        </div>
                        <div class="spacer clear"></div>
                        <div class="input frmelmnts2">
                           <label class="label">Email:</label>            <br>
                          <!--  <input type="email" name="email" id="fields_email" placeholder="email" onblur="addGreentick();" maxlength="255" value="" class="required email " /> -->

                           <input type="text" name="email" id="email" placeholder="Email Address" class="required email" value="" data-validate="email" data-error-message="Please enter a valid email id!" maxlength="255">
                           <span id="mxcheck-placeholder" style="display:none;"><img src="/mobile/name/ajax-loader.gif"></span>
                           <span id="mxcheck-message" style="display:none;"></span>

                        </div>
                        <div class="spacer clear"></div>
                        <div class="input frmelmnts2">
                           <label class="label">Why Do You Want Magnum Pump™?</label>            <br>
                           <select id="whyDoYouWantZyalix">
                              <option value="">Select One</option>
                              <option value="1">Harder Erections </option>
                              <option value="2">Longer Staying Power</option>
                              <option value="3">Improved Virility </option>
                              <option value="4">Increased Sexual Stamina </option>
                              <option value="5">All Of The Above </option>
                           </select>
                        </div>
                        <div class="clear"></div>
                        <div class="upbtm">
                           <div class="clearfix"></div>
                           <p class="scure-lock"> <img src="/mobile/name/lock.png" alt="">&nbsp;Secure 256 Bit Encrypted Connection</p>
                           <p id="loading-indicator" style="display:none;">Processing...</p>
                           <div class="btncontainer" style="margin:2% auto 2% auto;">
                              <center>
                                 <input type="image" id="submit" src="/mobile/name/qualify-btn.png" width="540" height="99" alt="" class="heartbeat">
                              </center>
                           </div>
                           <center><img src="/mobile/name/scure-2.png" alt=""></center>
                        </div>
                        <div class="clear"></div>
                     </div>
                  </form>
               </div>
               <div class="clearfix"></div>
            </div>
         </div>
         <br>
      </div>
      <!-- <div id="ic-loading" class="white-popup ic-loading mfp-hide">
         <img src="/ed/v3/app/mobile/images/loading.gif" alt="Loading"><br><br>
         Processing, one moment please...
      </div> -->
      <div class="footer">
         <div class="wrap">
            <ul>
               <li><a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;../page-contact.php&#39;,&#39;modal&#39;);">Contact Us</a>
               </li>
               <li>|</li>
               <li><a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;../page-privacy.php&#39;,&#39;modal&#39;);">Privacy Policy</a>
               </li>
               <li>|</li>
               <li><a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;../page-terms.php&#39;,&#39;modal&#39;);">Terms &amp; Conditions</a>
               </li>
            </ul>
            <p>Disclaimer: These products have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease.</p>
         </div>
      </div>



            <script type="text/javascript">AJAX_PATH="ajax.php/"; app_config={"valid_class":"no-error","error_class":"has-error","loading_class":"loading","crm_type":"konnektive","exit_popup_enabled":false,"exit_popup_element_id":"","exit_popup_page":"","offer_path":"\/ed\/v3\/","current_step":1,"cbtoken":"","dev_mode":"N","show_validation_errors":"modal","allowed_tc":"8\"m0l0d0J050k050O0lv8sm\"l[r0j0V0H0q0h0k0R0X|Niraj]","allowed_country_codes":["US"],"countries":{"US":{"name":"United States","states":{"AL":{"name":"Alabama"},"AK":{"name":"Alaska"},"AS":{"name":"American Samoa"},"AZ":{"name":"Arizona"},"AR":{"name":"Arkansas"},"AE":{"name":"Armed Forces Middle East"},"AA":{"name":"Armed Forces Americas"},"AP":{"name":"Armed Forces Pacific"},"CA":{"name":"California"},"CO":{"name":"Colorado"},"CT":{"name":"Connecticut"},"DE":{"name":"Delaware"},"DC":{"name":"District of Columbia"},"FM":{"name":"Federated States of Micronesia"},"FL":{"name":"Florida"},"GA":{"name":"Georgia"},"GU":{"name":"Guam"},"HI":{"name":"Hawaii"},"ID":{"name":"Idaho"},"IL":{"name":"Illinois"},"IN":{"name":"Indiana"},"IA":{"name":"Iowa"},"KS":{"name":"Kansas"},"KY":{"name":"Kentucky"},"LA":{"name":"Louisiana"},"ME":{"name":"Maine"},"MD":{"name":"Maryland"},"MA":{"name":"Massachusetts"},"MI":{"name":"Michigan"},"MN":{"name":"Minnesota"},"MS":{"name":"Mississippi"},"MO":{"name":"Missouri"},"MT":{"name":"Montana"},"NE":{"name":"Nebraska"},"NV":{"name":"Nevada"},"NH":{"name":"New Hampshire"},"NJ":{"name":"New Jersey"},"NM":{"name":"New Mexico"},"NY":{"name":"New York"},"NC":{"name":"North Carolina"},"ND":{"name":"North Dakota"},"MP":{"name":"Northern Mariana Islands"},"OH":{"name":"Ohio"},"OK":{"name":"Oklahoma"},"OR":{"name":"Oregon"},"PA":{"name":"Pennsylvania"},"PR":{"name":"Puerto Rico"},"MH":{"name":"Republic of Marshall Islands"},"RI":{"name":"Rhode Island"},"SC":{"name":"South Carolina"},"SD":{"name":"South Dakota"},"TN":{"name":"Tennessee"},"TX":{"name":"Texas"},"UT":{"name":"Utah"},"VT":{"name":"Vermont"},"VI":{"name":"Virgin Islands of the U.S."},"VA":{"name":"Virginia"},"WA":{"name":"Washington"},"WV":{"name":"West Virginia"},"WI":{"name":"Wisconsin"},"WY":{"name":"Wyoming"}}}},"country_lang_mapping":{"US":{"state":"State:","zip":"Zip Code:"},"GB":{"state":"County:","zip":"Postal Code:"},"CA":{"state":"Province:","zip":"Pin Code:"},"IN":{"state":"State:","zip":"Pin:"}},"device_is_mobile":true,"pageType":"leadPage","enable_browser_back_button":false}</script><script type="text/javascript">app_lang={"error_messages":{"zip_invalid":"Please enter a valid zip code!","email_invalid":"Please enter a valid email id!","cc_invalid":"Please enter a valid credit card number!","cvv_invalid":"Please enter a valid CVV code!","card_expired":"Card seems to have expired already!","common_error":"Oops! Something went wrong! Can you please retry?","not_checked":"Please check the agreement box in order to proceed.","ca_zip_invalid":"Invalid Canada state code","xv_invalid_shipping":"Your shipping address could not be verified","xv_email":"Your email address could not be verified","xv_phone":"Your phone number could not be verified"},"exceptions":{"config_error":"General config error","config_file_missing":"General config error","invalid_array":"Argument is not a valid array","empty_prospect_id":"Prospect ID is empty or invalid","curl_error":"Something went wrong with the request, Please try again.","generic_error":"Something went wrong with the request, Please try again."}};</script>
<script>var input_mask_data = {"enable_masking":false,"masking_device":["desktop"],"credit_card_place_holder_active":true,"credit_card_masking_placeholder":"blank","credit_card_masking":"dash_masking","phone_number_masking":"(000) 000-0000"};</script>
<script type="text/javascript">var cbUtilConfig = {"disable_non_english_char_input":false};</script>
<script src="/mobile/name/codebase.min.js" type="text/javascript"></script><script>$(function(){$.get("/ed/v3/ajax.php/extensions/trafficloadbalancer/initialize");});</script><script>$(function(){$.get("/ed/v3/ajax.php/extensions/konnektiveutilpack/fire-import-click");});</script>
<script async="" defer="" src="/mobile/name/js"></script>
<script>var event_type= 'blur';var autopopulate_by= 'zip'</script>

<script>
( function( exports, $ ) {
  exports.showProcessing = function() {
    $( '#submit' )
      .html( 'Processing...' )
      .css( 'opacity', .5 );

    document.opt_in_form.submit();
  }
})( window, jQuery );
</script>
<script>
        function optin_form()
        {
           var errors = new Array();
           var emailReg = /^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/;
           if ($('#firstName').val() == '') {
               errors.push('Please enter first name');

           }
           if ($('#lastName').val() == '') {
               errors.push('Please enter last name');
           }
           if ($('#email').val() == '') {
               errors.push('Please enter email');
           } else if (!emailReg.test($('#email').val())) {
               errors.push('Please enter a valid email address');
           }

 if(!$('#whyDoYouWantZyalix').val().length){
              errors.push('Please select the reason');
              $('#reason').addClass('has-error').removeClass('no-error');
          }else{
              $('#reason').addClass('no-error').removeClass('has-error');
          }




           if (errors.length == 0) {
               $('#loading-indicator').show();
               return true;
           } else {
               cb.errorHandler(errors);
               return false;
           }
         }
  </script>

</body></html>
