<!DOCTYPE html>
<!-- saved from url=(0156)https://www.trymagnumpump.com/ed/v3/mobile/mobile/upsell1.php?affId=DA&c1=214568&c2=1001&c3=%7Bvar2%7D&prospect_id=DD826DBCDA&order_id=DD826DBCDA&customer_id=58665 -->
<html class="gr__trymagnumpump_com">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">



  <title>Magnum Pump XR</title>

  <meta name="description" content="">


  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <meta http-equiv="content-language" content="en-us">

  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="HandheldFriendly" content="true">

  <link rel="stylesheet" href="/mobile/upsell/app.css">




  <meta name="viewport" content="width=640, user-scalable=0">

  <!-- <title>Magnum Pump </title> -->

  <link rel="stylesheet" type="text/css" href="/mobile/upsell/jquery.fancybox.css">

  <link rel="shortcut icon" type="image/x-icon" href="https://www.trymagnumpump.com/ed/v3/app/mobile/images/favicon.png">

  <link href="/mobile/upsell/css" rel="stylesheet" type="text/css">

  <link href="/mobile/upsell/style1.css" rel="stylesheet" type="text/css">



  <script type="text/javascript" charset="UTF-8" src="/mobile/upsell/common.js"></script>
  <script type="text/javascript" charset="UTF-8" src="/mobile/upsell/util.js"></script>
  <script type="text/javascript" charset="UTF-8" src="/mobile/upsell/stats.js"></script>
  <script type="text/javascript" charset="UTF-8" src="/mobile/upsell/AuthenticationService.Authenticate"></script>
</head>

<body data-gr-c-s-loaded="true">

  <div style="display:none;">
    <iframe src="/mobile/upsell/p.html" height="1" width="1" frameborder="0"></iframe>
  </div>
  <p id="loading-indicator" style="display: none;">Processing...</p>



  <div class="container">



    <form name="is-upsell" method="post" action="/magnum/mobile/post/upsell" accept-charset="utf-8" enctype="application/x-www-form-urlencoded;charset=utf-8" id="is-upsell" novalidate="novalidate">

      <input type="hidden" name="limelight_charset" id="limelight_charset" value="utf-8">



      <div class="spng-hd">

        <img src="/mobile/upsell/top-logo.png" alt="" class="sping-logo">

        <img src="/mobile/upsell/us-flag.png" alt="" class="sping-us-flag">

        <p class="clearall"></p>

        <div class="brd-btm"></div>

        <!-- <img src="/ed/v3/app/mobile/images/payment.png"  alt=""  class="payment-strip"/>  -->

      </div>

      <div class="up-bg1">

        <p class="up-txt1">WAIT! YOUR ORDER IS NOT COMPLETE</p>

      </div>

      <p class="up-txt2">Customers that purchased <b>Magnum Pump </b> also <br> purchased <b>Magnum Blast </b></p>

      <div class="upsell-box" onclick="$(&#39;#is-upsell&#39;).submit();">

        <div class="up-lft">

          <img src="/mobile/images/upsell-bottle.png" alt="">

        </div>

        <div class="up-rgt">

          <p class="up-rgt-txt1">Limited Supplies Available</p>

          <p class="up-rgt-txt2">AMPLIFY Your Results </p>

          <p class="up-rgt-txt3"><span>with</span> <b>Magnum Blast</b><br>PERFORMANCE MAXIMIZER</p>

          <p class="up-rgt-txt4">Add your <span>FREE TRIAL</span> bottle<br> Just pay Shipping of </p>

          <p class="up-rgt-txt5">$4.95 </p>

        </div>

      </div>

      <div class="upbtm">

        <div class="clearfix"></div>



        <div class="btncontainer" style="margin:2% auto 2% auto;">

          <center>

            <button id="btnSubmit" class="button" style="border:0;background:0;cursor:pointer;"><img src="/mobile/upsell/payment-btn.png" alt="" height="99" width="540" class="heartbeat pulse"></button>

          </center>

        </div>

        <p class="scure-lock"> <img src="/mobile/upsell/lock.png" alt="">&nbsp;Secure 256 Bit Encrypted Connection</p>

        <center><img src="/mobile/upsell/scure-2.png" alt=""></center>

      </div>

    </form>

    <p class="up-rgt-txt6"><a href="thankyou-noup"><img src="/mobile/upsell/cut.png" alt="" class="cut">No, Thanks. I decline the offer</a></p>

    <div class="clearfix"></div>

    <div class="footer">

      <p class="ftrtxt">

        <a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;../page-terms.php&#39;, &#39;modal&#39;);" class="fancybox"> Terms &amp; Conditions</a> |

        <a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;../page-privacy.php&#39;, &#39;modal&#39;);" class="fancybox">Privacy Policy</a> |

        <a href="javascript:void(0);" onclick="javascript:openNewWindow(&#39;../page-contact.php&#39;, &#39;modal&#39;);" class="fancybox">Contact US</a> <br> Copyright © 2018 Magnum Pump

      </p>

    </div><br>

  </div>



  <p id="loading-indicator" style="display:none;">Processing...</p>


  <!-- <script type="text/javascript">
    AJAX_PATH = "ajax.php/";
    app_config = {
      "valid_class": "no-error",
      "error_class": "has-error",
      "loading_class": "loading",
      "crm_type": "konnektive",
      "exit_popup_enabled": false,
      "exit_popup_element_id": "",
      "exit_popup_page": "",
      "offer_path": "\/ed\/v3\/",
      "current_step": 2,
      "cbtoken": "",
      "dev_mode": "N",
      "show_validation_errors": "modal",
      "allowed_tc": "8\"m0l0d0J050k050O0lv8sm\"l[r0j0V0H0q0h0k0R0X|Niraj]",
      "allowed_country_codes": ["US"],
      "countries": {
        "US": {
          "name": "United States",
          "states": {
            "AL": {
              "name": "Alabama"
            },
            "AK": {
              "name": "Alaska"
            },
            "AS": {
              "name": "American Samoa"
            },
            "AZ": {
              "name": "Arizona"
            },
            "AR": {
              "name": "Arkansas"
            },
            "AE": {
              "name": "Armed Forces Middle East"
            },
            "AA": {
              "name": "Armed Forces Americas"
            },
            "AP": {
              "name": "Armed Forces Pacific"
            },
            "CA": {
              "name": "California"
            },
            "CO": {
              "name": "Colorado"
            },
            "CT": {
              "name": "Connecticut"
            },
            "DE": {
              "name": "Delaware"
            },
            "DC": {
              "name": "District of Columbia"
            },
            "FM": {
              "name": "Federated States of Micronesia"
            },
            "FL": {
              "name": "Florida"
            },
            "GA": {
              "name": "Georgia"
            },
            "GU": {
              "name": "Guam"
            },
            "HI": {
              "name": "Hawaii"
            },
            "ID": {
              "name": "Idaho"
            },
            "IL": {
              "name": "Illinois"
            },
            "IN": {
              "name": "Indiana"
            },
            "IA": {
              "name": "Iowa"
            },
            "KS": {
              "name": "Kansas"
            },
            "KY": {
              "name": "Kentucky"
            },
            "LA": {
              "name": "Louisiana"
            },
            "ME": {
              "name": "Maine"
            },
            "MD": {
              "name": "Maryland"
            },
            "MA": {
              "name": "Massachusetts"
            },
            "MI": {
              "name": "Michigan"
            },
            "MN": {
              "name": "Minnesota"
            },
            "MS": {
              "name": "Mississippi"
            },
            "MO": {
              "name": "Missouri"
            },
            "MT": {
              "name": "Montana"
            },
            "NE": {
              "name": "Nebraska"
            },
            "NV": {
              "name": "Nevada"
            },
            "NH": {
              "name": "New Hampshire"
            },
            "NJ": {
              "name": "New Jersey"
            },
            "NM": {
              "name": "New Mexico"
            },
            "NY": {
              "name": "New York"
            },
            "NC": {
              "name": "North Carolina"
            },
            "ND": {
              "name": "North Dakota"
            },
            "MP": {
              "name": "Northern Mariana Islands"
            },
            "OH": {
              "name": "Ohio"
            },
            "OK": {
              "name": "Oklahoma"
            },
            "OR": {
              "name": "Oregon"
            },
            "PA": {
              "name": "Pennsylvania"
            },
            "PR": {
              "name": "Puerto Rico"
            },
            "MH": {
              "name": "Republic of Marshall Islands"
            },
            "RI": {
              "name": "Rhode Island"
            },
            "SC": {
              "name": "South Carolina"
            },
            "SD": {
              "name": "South Dakota"
            },
            "TN": {
              "name": "Tennessee"
            },
            "TX": {
              "name": "Texas"
            },
            "UT": {
              "name": "Utah"
            },
            "VT": {
              "name": "Vermont"
            },
            "VI": {
              "name": "Virgin Islands of the U.S."
            },
            "VA": {
              "name": "Virginia"
            },
            "WA": {
              "name": "Washington"
            },
            "WV": {
              "name": "West Virginia"
            },
            "WI": {
              "name": "Wisconsin"
            },
            "WY": {
              "name": "Wyoming"
            }
          }
        }
      },
      "country_lang_mapping": {
        "US": {
          "state": "State:",
          "zip": "Zip Code:"
        },
        "GB": {
          "state": "County:",
          "zip": "Postal Code:"
        },
        "CA": {
          "state": "Province:",
          "zip": "Pin Code:"
        },
        "IN": {
          "state": "State:",
          "zip": "Pin:"
        }
      },
      "device_is_mobile": true,
      "pageType": "upsellPage1",
      "enable_browser_back_button": false
    }
  </script>
  <script type="text/javascript">
    app_lang = {
      "error_messages": {
        "zip_invalid": "Please enter a valid zip code!",
        "email_invalid": "Please enter a valid email id!",
        "cc_invalid": "Please enter a valid credit card number!",
        "cvv_invalid": "Please enter a valid CVV code!",
        "card_expired": "Card seems to have expired already!",
        "common_error": "Oops! Something went wrong! Can you please retry?",
        "not_checked": "Please check the agreement box in order to proceed.",
        "ca_zip_invalid": "Invalid Canada state code",
        "xv_invalid_shipping": "Your shipping address could not be verified",
        "xv_email": "Your email address could not be verified",
        "xv_phone": "Your phone number could not be verified"
      },
      "exceptions": {
        "config_error": "General config error",
        "config_file_missing": "General config error",
        "invalid_array": "Argument is not a valid array",
        "empty_prospect_id": "Prospect ID is empty or invalid",
        "curl_error": "Something went wrong with the request, Please try again.",
        "generic_error": "Something went wrong with the request, Please try again."
      }
    };
  </script>
  <script>
    var input_mask_data = {
      "enable_masking": false,
      "masking_device": ["desktop"],
      "credit_card_place_holder_active": true,
      "credit_card_masking_placeholder": "blank",
      "credit_card_masking": "dash_masking",
      "phone_number_masking": "(000) 000-0000"
    };
  </script>
  <script type="text/javascript">
    var cbUtilConfig = {
      "disable_non_english_char_input": false
    };
  </script>
  <script src="/mobile/upsell/codebase.min.js" type="text/javascript"></script>
  <script>
    $(function() {
      $.get("/ed/v3/ajax.php/extensions/trafficloadbalancer/initialize");
    });
  </script>
  <script>
    $(function() {
      $.get("/ed/v3/ajax.php/extensions/konnektiveutilpack/fire-confirm-order");
    });
  </script>
  <script>
    $(function() {
      $.get("/ed/v3/ajax.php/extensions/konnektiveutilpack/fire-import-click");
    });
  </script>
  <script>
    $(function() {
      $.get("/ed/v3/ajax.php/extensions/midsrouting/update-gatewayId");
    });
  </script>
  <script async="" defer="" src="/mobile/upsell/js"></script>
  <script>
    var event_type = 'blur';
    var autopopulate_by = 'zip'
  </script>
  <script>
    $(function() {
      $.get("/ed/v3/ajax.php/extensions/konnektiveutilpack/send-customer-note");
    });
  </script> -->







</body>

</html>
