<!DOCTYPE doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />

  <title>Magnum Pump XR</title>

  <meta name="description" content="" />


  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta http-equiv="content-language" content="en-us" />

  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="HandheldFriendly" content="true" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />

  <link rel="stylesheet" href="https://www.trymagnumpump.com/ed/v2/assets/css/app.css" />

  <meta charset="utf-8" />
  <title>
    Magnum Pump XR
  </title>
  <meta content="Magnum Pump XR" name="description" />
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  <meta content="text/html;charset=utf-8" http-equiv="content-type" />
  <link rel="shortcut icon" type="image/x-icon" href="https://www.trymagnumpump.com/ed/v2/app/desktop/images/favicon.png">
  <meta content="en-us" http-equiv="content-language" />
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
  <meta content="width=1350, user-scalable=no" name="viewport" />
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
  <link href="https://www.trymagnumpump.com/ed/v2/app/desktop/css/style-index.css" rel="stylesheet">
  <style>
    .my-placeholder {
      color: #ccc;
      line-height: 26px;
      box-sizing: border-box;
      vertical-align: middle;
    }
  </style>
  <!--[if IE 9]>
            <style>
                .s4txt2{margin:20px 0 0 120px!important}
            </style>
        <![endif]-->
</head>

<body>
  <div id="container">
    <div class="tophdr" id="header">
      <div class="contentWrap" style="position:relative;">
        <p class="hdrtxt">
          <span>
                            WARNING:
                        </span> Due to extremely high media demand, there is limited supply of Magnum Pump XR in stock as of
          <b>
                            August 22 2018                        </b>
        </p>
      </div>
    </div>
  </div>
  <div class="splt-bgs">
    <div id="section1">
      <div class="sec1inner">
        <div class="contentWrap" style="position:relative;">
          <div class="lft-content">
            <!-- <i class="sprite sprite-logo s1-logo"></i> -->
            <!-- <i class="spriteb spriteb-top-tagline s1b-tagline"></i> -->
            <p class="s1hding">
              Medical Strength Male Enhancement
            </p>
            <p class="s1hding2">
              Get Maximum
              <br/>
              <span>
                                    Sexual Benefits
                                </span>
            </p>
            <div class="doctor">
              <!-- <img src="/ed/v2/app/desktop/images/s1no-pres.png" width="504" height="88" alt="" class="s1no-pres" /> -->
            </div>
            <!-- <i class="sprite sprite-arrow s1-arrow"></i> -->
            <!-- <img src="/ed/v2/app/desktop/images/productshot.png" width="280" height="446" alt="" class="s1-prod2" /> -->
            <!-- <img src="/ed/v2/app/desktop/images/us-seal.png" width="110" height="110" alt="" class="s1seal" /> -->
            <ul class="s1list">
              <li>
                <span>
                                        Bigger & Long-Lasting Erections
                                    </span>
                <br/> Maximum pleasure & intensified orgasms
              </li>
              <li>
                <span>
                                        Surge In Sex Drive & Energy
                                    </span>
                <br/> Ramps up stamina & staying power
              </li>
              <li>
                <span>
                                        Increased Sexual Confidence
                                    </span>
                <br/> Experience vitality & peak performance
              </li>
            </ul>
            <!-- <img src="/ed/v2/app/desktop/images/as-seen.png" width="467" height="44" alt="" class="as-seen" /> -->
          </div>
          <div class="rgt-frm">
            <!-- start form -->
            <div class="frm-top">
              <img alt="" height="134" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/frm-top.png" width="307" />
            </div>
            <div class="form-position">
              <form method="post" action="/magnum/testData" name="prospect_form1" accept-charset="utf-8" enctype="application/x-www-form-urlencoded;charset=utf-8">
                <input id="limelight_charset" name="limelight_charset" type="hidden" value="utf-8" />
                <div class="fields">
                  <div class="label left">
                    First Name:
                  </div>
                  <div class="input left">
                    <!-- <input type="text" name="firstName" placeholder="First Name" class="required" value="" data-error-message="Please enter your first name!" id="yext-form"/> -->
                    <input class="required" data-error-message="Please enter your first name!" name="firstName" placeholder="First Name" type="text" value="" />
                  </div>
                  <div class="spacer clear">
                  </div>
                  <div class="label left">
                    Last Name:
                  </div>
                  <div class="input left">
                    <!-- <input type="text" name="lastName" placeholder="Last Name" class="required" value="" data-error-message="Please enter your last name!" /> -->
                    <input class="required" data-error-message="Please enter your last name!" name="lastName" placeholder="Last Name" type="text" value="" />
                  </div>
                  <div class="spacer clear">
                  </div>
                  <div class="label left">
                    Address:
                  </div>
                  <div class="input left">
                    <!-- <input class="required" data-error-message="Please enter your address!" name="shippingAddress1" placeholder="Your Address" type="text" value=""/> -->
                    <input type="text" name="shippingAddress1" placeholder="Your Address" class="required" value="" data-error-message="Please enter your address!" />
                  </div>
                  <div class="spacer clear">
                  </div>
                  <div class="label left" id="shipToZipLabel">
                    Zip:
                  </div>
                  <div class="input left">
                    <!-- <input class="required" data-error-message="Please enter a valid zip code!" maxlength="5" name="shippingZip" onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');" placeholder="Zip Code" type="text" value=""/> -->
                    <input type="text" name="shippingZip" placeholder="Zip Code" class="required" value="" data-error-message="Please enter a valid zip code!" onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');" maxlength="5" />
                    <span id="zip-validate" style="display: none"><img src="https://www.trymagnumpump.com/ed/v2/assets/images/ajax-loader.gif"></span>
                  </div>
                  <div class="spacer clear">
                  </div>
                  <div class="label left">
                    City:
                  </div>
                  <div class="input left">
                    <!--  <input class="required" data-error-message="Please enter your city!" name="shippingCity" placeholder="Your City" type="text" value=""/> -->
                    <input type="text" name="shippingCity" placeholder="Your City" class="required" value="" data-error-message="Please enter your city!" />
                  </div>
                  <div class="spacer clear">
                  </div>
                  <div class="label left" id="shipToStateLabel">
                    State:
                  </div>
                  <div class="input left">
                                            <!-- <input class="required" data-error-message="Please select your state!" data-selected="" name="shippingState" placeholder="Your State" readonly="" type="text"/> -->
                                            <select name="shippingState" type="text" placeholder="Your State" class="required" data-selected="" data-error-message="Please select your state!" readonly="readonly"><option value="" selected="selected">Select State</option><option value="AL">Alabama</option><option value="AK">Alaska</option><option value="AS">American Samoa</option><option value="AZ">Arizona</option><option value="AR">Arkansas</option><option value="AE">Armed Forces Middle East</option><option value="AA">Armed Forces Americas</option><option value="AP">Armed Forces Pacific</option><option value="CA">California</option><option value="CO">Colorado</option><option value="CT">Connecticut</option><option value="DE">Delaware</option><option value="DC">District of Columbia</option><option value="FM">Federated States of Micronesia</option><option value="FL">Florida</option><option value="GA">Georgia</option><option value="GU">Guam</option><option value="HI">Hawaii</option><option value="ID">Idaho</option><option value="IL">Illinois</option><option value="IN">Indiana</option><option value="IA">Iowa</option><option value="KS">Kansas</option><option value="KY">Kentucky</option><option value="LA">Louisiana</option><option value="ME">Maine</option><option value="MD">Maryland</option><option value="MA">Massachusetts</option><option value="MI">Michigan</option><option value="MN">Minnesota</option><option value="MS">Mississippi</option><option value="MO">Missouri</option><option value="MT">Montana</option><option value="NE">Nebraska</option><option value="NV">Nevada</option><option value="NH">New Hampshire</option><option value="NJ">New Jersey</option><option value="NM">New Mexico</option><option value="NY">New York</option><option value="NC">North Carolina</option><option value="ND">North Dakota</option><option value="MP">Northern Mariana Islands</option><option value="OH">Ohio</option><option value="OK">Oklahoma</option><option value="OR">Oregon</option><option value="PA">Pennsylvania</option><option value="PR">Puerto Rico</option><option value="MH">Republic of Marshall Islands</option><option value="RI">Rhode Island</option><option value="SC">South Carolina</option><option value="SD">South Dakota</option><option value="TN">Tennessee</option><option value="TX">Texas</option><option value="UT">Utah</option><option value="VT">Vermont</option><option value="VI">Virgin Islands of the U.S.</option><option value="VA">Virginia</option><option value="WA">Washington</option><option value="WV">West Virginia</option><option value="WI">Wisconsin</option><option value="WY">Wyoming</option></select>
                                        </div>
                  <div class="spacer clear">
                  </div>
                  <div class="label left hidden">
                    Country:
                  </div>
                  <div class="input left hidden">
                    <!-- <select class="required" data-error-message="Please select your country!" data-selected="" name="shippingCountry">
                                                <option value="">
                                                    Select Country
                                                </option>
                                            </select> -->
                    <select name="shippingCountry" class="required" data-selected="" data-error-message="Please select your country!">
                                                <option value="">Select Country</option>
                                            </select>
                  </div>
                  <div class="spacer clear hidden">
                  </div>
                  <div class="label left">
                    Phone:
                  </div>
                  <div class="input left">
                    <!-- <input class="required" data-error-message="Please enter a valid contact number!" data-max-length="15" data-min-length="10" data-validate="phone" maxlength="10" name="phone" onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');" placeholder="Phone" type="text" value=""/> -->
                    <input type="text" name="phone" placeholder="Phone" class="required" data-validate="phone" data-min-length="10" data-max-length="15" value="" data-error-message="Please enter a valid contact number!" onkeyup="javascript: this.value = this.value.replace(/[^0-9]/g,'');"
                      maxlength="10" />
                  </div>
                  <div class="spacer clear">
                  </div>
                  <div class="label left">
                    Email:
                  </div>
                  <div class="input left">
                    <!-- <input class="required" data-error-message="Please enter a valid email id!" data-mxcheck="true" data-mxcheck-error-callback="mx_validation_error" data-mxcheck-error-message="Please enter a valid email id!" data-mxcheck-error-placeholder="#mxcheck-message" data-mxcheck-progress-callback="mx_validation_progress" data-mxcheck-progress-placeholder="#mxcheck-placeholder" data-mxcheck-success-callback="mx_validation_success" data-mxcheck-success-message="Valid email id." data-mxcheck-success-placeholder="#mxcheck-message" data-validate="email" name="email" placeholder="Email Address" type="text" value=""/> -->

                    <input type="text" name="email" placeholder="Email Address" class="required" value="" data-validate="email" data-error-message="Please enter a valid email id!" />
                    <span id="mxcheck-placeholder" style="display:none;"><img src="https://www.trymagnumpump.com/ed/v2/assets/images/ajax-loader.gif" /></span>
                    <span id="mxcheck-message" style="display:none;"></span>
                  </div>
                  <div class="spacer clear">
                  </div>
                  <div class="clear">
                  </div>
                  <div class="frm-btm">
                    <img alt="" class="lock" height="10" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/lock.png" width="199" />
                    <input alt="" class="submit pulse" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/submit-btn.png" type="image"/>
                    <img alt="" class="security" height="39" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/frm-btm.png" width="164" />
                  </div>
                  <div class="clear">
                  </div>
                </div>

              </form>
            </div>
            <div class="clearall">
            </div>
            <!-- end form -->
          </div>
        </div>
      </div>
    </div>
    <div id="section2">
      <div class="sec2inner">
        <div class="contentWrap" style="position:relative;">
          <p class="sec2hding">
            <span>
                                The Sexual Health Divide
                            </span>
            <br/> Are You Suffering From The Following Symptoms
          </p>
          <p class="s2txt">
            Leading surveys on sexual health and satisfaction levels among
            <br/> American men have revealed the following:
          </p>
          <div class="box-area">
            <div class="s2box1">
              <center>
                <i class="sprite sprite-s2one">
                                    </i>
              </center>
              <p class="s2box-txt">
                Say sexual health impacts on overall life satisfaction
              </p>
            </div>
            <div class="s2box2">
              <center>
                <i class="sprite sprite-s2two">
                                    </i>
              </center>
              <p class="s2box-txt">
                Of men suffer from Small Penis
                <br/> Syndrome
              </p>
            </div>
            <div class="s2box3">
              <center>
                <i class="sprite sprite-s2three">
                                    </i>
              </center>
              <p class="s2box-txt">
                Believe
                <br/> embarrassment is a major sexual barrier
              </p>
            </div>
            <div class="s2box4">
              <center>
                <i class="sprite sprite-s2four">
                                    </i>
              </center>
              <p class="s2box-txt">
                Avoid sex altogether because of lack of sexual confidence
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="section3">
      <div class="sec3inner">
        <div class="contentWrap" style="position:relative;">
          <img alt="" class="s3-prod2" height="446" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/productshot.png" width="280" />
          <!--  <i class="sprite_new sprite-us-seal satisfaction-seal"></i> -->
          <img alt="" class="satisfaction-seal" height="120" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/us-seal.png" width="120" />
          <p class="s3hding">
            <span>
                                Introducing Magnum Pump XR
                            </span>
            <br/> Male Enhancement System
          </p>
          <p class="sec3txt">
            <b>
                                Made with a blend of clinical strength ingredients,
                                <span>
                                    Magnum Pump XR is a male enhancement system
                                </span>
                                that has
                     been formulated to restore your sexual youth and performance and help you experience an intense, blissful & powerful
                     sex life.
                            </b>
            <br/>
            <br/>
            <strong>
                                Magnum Pump XR's
                            </strong> dual action formula not only gives you an instant surge in sexual power & performance - but also treats the root cause of sexual dysfunctions, ensuring that you are able to satisfy your partner, consistently!
            Made with herbal extracts and active botanicals,
            <b>
                                Magnum Pump XR
                            </b> is completely safe to use and is free from any harmful side effects.
          </p>
          <p class="sec3txt2">
            Triple IntenSity
            <br/>
            <span>
                                Male Enhancement
                            </span>
            <br/> For maximum Results
          </p>
          <p class="sec3txt3">
            The pro-sexual nutrient matrix in Magnum Pump XR helps boost the 3S's of Sex - Size, Stamina & Satisfaction, helping you peak perform and pleasure your partner just like you did in your 20's!
          </p>
          <p class="sec3txt4">
            <b>
                                Magnum Pump XR
                            </b> is proudly made in the United States of America at a certified manufacturing facility to meet statutory industry standards. Every purchase is backed by a Satisfaction Guarantee, so that you can enjoy the benefits
            with confidence.
          </p>
          <div class="btn-strip">
            <p class="btn-txt">
              <span>
                                    ORDER YOUR Magnum Pump XR TODAY!
                                </span>
              <br/> Experience Sexual Power, Pleasure & Performance
            </p>
            <img alt="" class="sec3btn pulse" height="70" onclick="$('body,html').animate({scrollTop:0}, 500,function(){$( '#yext-form' ).focus();})" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/submit-btn.png" style="cursor:pointer" width="275" />
          </div>
        </div>
      </div>
    </div>

    <div id="section4">
      <div class="contentWrap">
        <p class="s4hding">
          <span>
                THE SCIENCE BEHIND
            </span>
          <br/> BETTER, LONGER & MORE INTENSE SEX!
        </p>
        <i class="sprite_new sprite-s4seal s4seal">
        </i>
        <!-- <img src="/ed/v2/app/desktop/images/s4seal.png" width="156" height="156" alt="" class="s4seal" /> -->
        <p class="s4txt">
          <span>
                The blood flow to the penis is responsible for erections while the
                <br/>
                holding capacity of the penis
                  chambers is what influences sexual stamina
                <br/>
                and staying power.
                <b>
                    Magnum Pump XR
                </b>
                helps boost both to help you and your partner.
                partner enjoy intense orgasms and complete satisfaction.
            </span>
          <br/>
          <br/>
          <strong>
                Magnum Pump XR's
            </strong> pro-sexual nutrient blend is quickly absorbed into the bloodstream to stimulate Nitric Oxide production - this in turn boosts the flow of blood to the penile chambers helping you enjoy harder and stronger erections. On
          the other hand it also expands the penis chambers allowing it to hold more blood in order to drastically increase sexual stamina, strength and staying power.
        </p>
        <p class="s4txt2">
          <b>
                Magnum Pump XR
            </b> utilizes a breakthrough rapid absorption and extended release technology. Rapid absorption of the ingredients into the bloodstream aid in delivering instant surge of sexual power while the extended release technology delivers
          sustained results that help you enjoy on command erections and stamina to last all night long.
        </p>
        <i class="sprite_new sprite-s4img_updated1 s4img">
        </i>
        <!-- <img src="/ed/v2/app/desktop/images/s4img_updated1.png" width="325" height="369" alt="" class="s4img" /> -->
        <p class="s4txt3">
          <span>
                Magnum Pump XR
            </span> works by triggering the two mechanisms known
          <br/> to increase penis size, function and performance. These are:
        </p>
        <p class="s4txt4">
          An increase in "free" testosterone and
        </p>
        <p class="s4txt5">
          Nitric Oxide production to the penis.
        </p>
        <p class="s4txt6">
          <span>
                Magnum Pump XR is the only product that does both.
            </span> Magnum Pump XR contains the most potent nitric oxide stimulators which maximize the delivery of the active ingredients to your penile tissue giving you firmer, longer erections.
        </p>
        <div class="s4btn-strip">
          <p class="btn-txt">
            <span>
                    ORDER YOUR Magnum Pump XR TODAY!
                </span>
            <br/> Experience Sexual Power, Pleasure & Performance
          </p>
          <img alt="" class="sec3btn pulse" height="70" onclick="$('body,html').animate({scrollTop:0}, 500,function(){$( '#yext-form' ).focus();})" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/submit-btn.png" style="cursor:pointer" width="275" />
        </div>
      </div>
    </div>
    <div id="section5">
      <div class="sec5inner">
        <div class="contentWrap">
          <p class="s5hding">
            <span>
                    The Benefits of Magnum Pump XR
                </span>
            <br/> ADVANCED MALE ENHANCEMENT!
          </p>
          <p class="sec5txt">
            <span>
                    Magnum Pump XR Male Enhancement System
                </span> offers multiple sexual health benefits to help you
            <br/> enjoy hard erections, increased stamina and peak performance.
          </p>
          <div class="s5benefits">
            <div class="s5box1">
              <p class="bnft-txt">
                IMPROVED LIBIDO & SEX DRIVE
              </p>
              <p class="bnft-txt2">
                Get ready to
                <br/> experience a torrent of desire & passion with
                <b>
                            Magnum Pump XR
                        </b> , which replenishes sexual energy stores across the body like never before.
              </p>
            </div>
            <div class="s5box2">
              <p class="bnft-txt">
                INCREASED STAYING
                <br/> POWER
              </p>
              <p class="bnft-txt2">
                Bid goodbye to pre-
                <br/> mature ejaculations!
                <b>
                            Magnum Pump XR
                        </b> floods your penile chambers with a gush of blood letting you last 5X more than usual and helping you last all night long!
              </p>
            </div>
            <div class="s5box5">
              <p class="bnft-txt">
                BIGGER, HARDER & LONGER ERECTIONS
              </p>
              <p class="bnft-txt2">
                <b>
                            Magnum Pump XR
                        </b> lets you achieve rock hard erections on command helping you and your partner enjoy insane sexual sessions, whenever you desire.
              </p>
            </div>
            <div class="s5box4">
              <p class="bnft-txt">
                IMPROVED SEXUAL CONFIDENCE
              </p>
              <p class="bnft-txt2">
                Equipped with youthful sexual powers & energy, you are sure to experience sexual confidence like never before, gives you greater success with the most desirable women!
              </p>
            </div>
            <div class="s5box3">
              <p class="bnft-txt">
                INCREASED
                <br/> PENIS
                <br/> SIZE
              </p>
              <p class="bnft-txt2">
                Increase in penile chamber capacity and regular boost in blood flow may help add those inches to your penis size, both length & girth wise.
              </p>
            </div>
          </div>
          <img alt="" class="s5-prod3" height="427" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/productshot.png" width="268" />
          <img alt="" class="s5img" height="108" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/satisfaction-seal.png" width="127" />
          <!--  <img src="/ed/v2/app/desktop/images/s5img.png" width="79" height="118" alt="" class="s5img2" /> -->
          <i class="sprite_new sprite-s5img s5img2">
            </i>
          <p class="s5lft-txt">
            <span>
                    Our product backed with a
                </span>
            <br/> 100% Satisfaction
            <br/> Guarantee!
          </p>
          <p class="s5rgt-txt">
            <span>
                    THE NUMBER ONE
                </span>
            <br/> MALE ENHANCEMENT
            <br/>
            <b>
                    PILL IN THE US
                </b>
          </p>
          <div class="clearall">
          </div>
          <div class="s5btn-strip">
            <p class="btn-txt">
              <span>
                        ORDER YOUR Magnum Pump XR TODAY!
                    </span>
              <br/> Experience Sexual Power, Pleasure & Performance
            </p>
            <img alt="" class="sec3btn pulse" height="70" onclick="$('body,html').animate({scrollTop:0}, 500,function(){$( '#yext-form' ).focus();})" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/submit-btn.png" style="cursor:pointer" width="275" />
          </div>
        </div>
      </div>
    </div>
    <div id="section6">
      <div class="sec6inner">
        <div class="contentWrap" style="position:relative;">
          <p class="s6hding">
            <span>
                    Powerful Ingredients
                </span>
            <br/> For Bigger Results
          </p>
          <i class="sprite_new sprite-natural-seal natural-seal">
            </i>
          <!--   <img src="/ed/v2/app/desktop/images/natural-seal.png" width="160" height="222" alt="" class="natural-seal" /> -->
          <div class="sec6lft">
            <p class="s6ingrnts1">
              L-Arginine
            </p>
            <p class="s6txt">
              Stimulates nitric oxide production to boost blood circulation to the penis helping achieve biggers and stronger erections.
            </p>
            <p class="s6ingrnts2">
              Ginko Biloba Extarct
            </p>
            <p class="s6txt" style="padding-top:84px;">
              An aphrodisiac, it helps boost male sexual drive and libido. It also supports healthy testosterone levels.
            </p>
          </div>
          <div class="sec6rgt">
            <p class="s6ingrnts3">
              Muira Puama Extract
            </p>
            <p class="s6txt2">
              Called the "Viagra of Amazon", this herbal extract
              <br/> replenishes sexual energy stores for improved
              <br/> strength and stamina.
            </p>
            <div class="clearall">
            </div>
            <div class="lftingrnts">
              <p class="s6ingrnts4">
                Asian Red
                <br/> Ginger Extracts
              </p>
              <p class="s6txt3">
                Positively influences mood patterns to reduce stress and promote relaxation, enabling men to perform at their peak.
              </p>
            </div>
            <div class="rgtingrnts">
              <p class="s6ingrnts5">
                Saw Palmetto
                <br/> Berry
              </p>
              <p class="s6txt3">
                Helps increase staying power ensuring you and your partner enjoy longer sessions with intense orgasms.
              </p>
            </div>
            <div class="clearall">
            </div>
            <p class="s6ingrnts6">
              Horny Goat Weed
              <br/> Extract
            </p>
            <p class="s6txt2">
              Works synergistically with the other pro-sexual nutrients to boost blood flow to the penile chambers for improved erections. It also helps expand the chambers to increase blood holding capacity and in-turn staying power.
            </p>
          </div>
          <div class="clearall">
          </div>
          <p class="s6btm-txt">
            <span>
                    Bioperine™
                </span>
            <br/> Helps support the formula's quick absorption technology. This allows the key herbal ingredients that support male enhancement to be absorbed quickly into the blood stream, triggering an instant boost in sexual energy, stamina and erections.
          </p>
          <div class="s6btn-strip">
            <p class="btn-txt">
              <span>
                        ORDER YOUR Magnum Pump XR TODAY!
                    </span>
              <br/> Experience Sexual Power, Pleasure & Performance
            </p>
            <img alt="" class="sec3btn pulse" height="70" onclick="$('body,html').animate({scrollTop:0}, 500,function(){$( '#yext-form' ).focus();})" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/submit-btn.png" style="cursor:pointer" width="275" />
          </div>
        </div>
      </div>
    </div>
    <div id="section7">
      <div class="sec7inner">
        <div class="contentWrap" style="position:relative">
          <p class="s7hding"><span>REAL MEN, REAL RESULTS</span>
            <br />Success Stories From Our Patrons
          </p>
          <p class="s7txt"><span>Magnum Pump XR has helped hundreds of men across all ages</span> beat sexual dysfunction
            <br />and enjoy a fuller and satisfied sex life.
          </p>
          <div class="slider">
            <div class="slide1">
              <div class="lft-box">
                <i class="sprite_new sprite-sliderimg sliderimg"></i>
                <i class="sprite_new sprite-star star"></i>
                <!-- <img src="images/sliderimg.png" width="155" height="158" alt="" class="sliderimg" />
                              <img src="images/star.png" width="101" height="18" alt="" class="star" /> -->
                <p class="sldr-tstimnl">“<b>Magnum Pump XR</b> is truly the best male enhancement system in the market! Unlike other products that have synthetics, <b>Magnum Pump XR</b> is made with herbal extracts and botanicals which have been clinically proven to boost virility.
                  I did a thorough research before picking up the product and the results have been truly phenomenal. Highly recommended. ”</p>
                <p class="tstmnl-name"><span>- Carlos Velez, 43 </span>
                </p>
              </div>
              <div class="rgt-box">
                <p class="clearall"></p>
                <i class="sprite_new sprite-sliderimg2 sliderimg"></i>
                <i class="sprite_new sprite-star star"></i>
                <!-- <img src="images/sliderimg2.png" width="155" height="158" alt="" class="sliderimg" />
                              <img src="images/star.png" width="101" height="18" alt="" class="star" /> -->
                <p class="sldr-tstimnl">“The age related ED issues were very frustrating and no pill seemed to work! When my friend recommended <b>Magnum Pump XR</b>, I decided I will give it a try and I am glad I did! It has helped me boost my sexual stamina, size and confidence.
                  And guess who is a bigger fan of <b>Magnum Pump XR</b> than me, my wife! ”</p>
                <p class="tstmnl-name2"><span>- Rob Greco, 54</span>
                </p>
              </div>
            </div>
            <div class="slide2">
              <div class="lft-box">
                <i class="sprite_new sprite-sliderimg3 sliderimg"></i>
                <i class="sprite_new sprite-star star"></i>
                <!-- <img src="images/sliderimg3.png" width="155" height="158" alt="" class="sliderimg" />
                              <img src="images/star.png" width="101" height="18" alt="" class="star" /> -->
                <p class="sldr-tstimnl">“Its great to know that my favorite male enhancement supplement is now available in the market without a prescription! I have been using <b>Magnum Pump XR</b> for a few months now and the results have been truly "huge"! I am able to enjoy
                  harder erections, increased sexual drive and stamina, which lets me enjoy love making just like I used to when I was in my 30s! ”</p>
                <p class="tstmnl-name" style="padding:25px 0 0 21px;"><span>- Vincent Harper, 49</span>
                </p>
              </div>
              <div class="rgt-box">
                <p class="clearall"></p>
                <!--  <img src="images/sliderimg4.png" width="155" height="158" alt="" class="sliderimg" /> -->
                <i class="sprite_new sprite-sliderimg4 sliderimg"></i>
                <i class="sprite_new sprite-star star"></i>
                <!-- <img src="images/star.png" width="101" height="18" alt="" class="star" /> -->
                <p class="sldr-tstimnl">“Age related decline in sexual health along with onset of mild ED had left me pretty shattered. I came across <b>Magnum Pump XR</b> on a very reputed blog for male health and decided to give it a try. It has been the best decision I ever
                  made. My sex drive has really taken off, my erections are back to their firm and the increase in sexual stamina is just amazing! ”</p>
                <p class="tstmnl-name2" style="padding:25px 0 0 21px;"><span>- Sean Carter, 56</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="clear:both"></div>-->
    </div>
    <!-- <div class="clear:both"></div> -->
    <div id="section8">
      <div class="contentWrap" style="position:relative">
        <i class="sprite_new sprite-logo1 s8-logo">
        </i>
        <!--  <img src="/ed/v2/app/desktop/images/logo1.png" width="168" height="70" alt="" class="s8-logo" /> -->
        <i class="sprite_new sprite-s1no-pres s8no-pres">
        </i>
        <!--  <img src="/ed/v2/app/desktop/images/s1no-pres.png" width="504" height="88" alt="" class="s8no-pres" /> -->
        <p class="s8hding">
          Medical Strength Male Enhancement
        </p>
        <p class="s8hding2">
          Get Maximum
          <br/>
          <span>
                Sexual Benefits
            </span>
        </p>
        <i class="sprite_new sprite-us-seal s8seal2">
        </i>
        <!--  <img src="/ed/v2/app/desktop/images/us-seal.png" width="173" height="173" alt="" class="s8seal2" /> -->
        <img alt="" class="s8-prod3" height="446" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/productshot.png" width="280" />
        <ul class="s8list">
          <li>
            <span>
                    Bigger & Long-Lasting Erections
                </span>
            <br/> Maximum pleasure & intensified orgasms
          </li>
          <li>
            <span>
                    Surge In Sex Drive & Energy
                </span>
            <br/> Ramps up stamina & staying power
          </li>
          <li>
            <span>
                    Increased Sexual Confidence
                </span>
            <br/> Experience vitality & peak performance
          </li>
        </ul>
        <img alt="" class="sec8btn pulse" height="70" onclick="$('body,html').animate({scrollTop:0}, 500,function(){$( '#yext-form' ).focus();})" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/submit-btn.png" style="cursor:pointer" width="275" />
      </div>
    </div>
  </div>
  <div class="white-popup ic-loading mfp-hide" id="ic-loading">
    <img alt="Loading" height="64" src="https://www.trymagnumpump.com/ed/v2/app/desktop/images/loading.gif" width="64" />
    <br/>
    <br/> Processing, one moment please...
  </div>
  <div class="footer">
    <div class="wrap">
      <ul>
        <li>
          <a href="javascript:void(0);" onclick="javascript:openNewWindow('page-contact.php', 'modal');">
                    Contact
                </a>
        </li>
        <li>
          |
        </li>
        <li>
          <a href="javascript:void(0);" onclick="javascript:openNewWindow('page-privacy.php', 'modal');">
                    Privacy Policy
                </a>
        </li>
        <li>
          |
        </li>
        <li>
          <a href="javascript:void(0);" onclick="javascript:openNewWindow('page-terms.php', 'modal');">
                    Terms & Conditions
                </a>
        </li>
      </ul>
      <p>
        Disclaimer: These products have not been evaluated by the Food and Drug Administration. This product is not intended to diagnose, treat, cure or prevent any disease.
      </p>
    </div>
  </div>
  <div id="science-info">
    <i class="sprite_new sprite-science-info1">
    </i>
    <!-- <img src="/ed/v2/app/desktop/images/science-info1.png" width="800" height="257"> -->
    <p>
      Representations regarding the efficacy and safety of Magnum Pump XR have not been scientifically substantiated or evaluated by the Food and Drug Administration.
      <a href="javascript:void(0);" style="color:#383636" target="_blank">
            Click here
        </a> or
      <a href="javascript:void(0);" style="color:#383636" target="_blank">
            Click here
        </a> to find evidence of a test, analysis, research, or study describing the benefits, performance or efficacy of epimedium based on the expertise of relevant professionals.
    </p>
  </div>





  <!-- <script type="text/javascript">
    AJAX_PATH = "ajax.php/";
    app_config = {
      "valid_class": "no-error",
      "error_class": "has-error",
      "loading_class": "loading",
      "crm_type": "konnektive",
      "exit_popup_enabled": false,
      "exit_popup_element_id": "",
      "exit_popup_page": "",
      "offer_path": "\/ed\/v2\/",
      "current_step": 1,
      "cbtoken": "",
      "dev_mode": "N",
      "show_validation_errors": "modal",
      "allowed_tc": "8\"m0l0d0J050k050O0lv8sm\"l[r0j0V0H0q0h0k0R0X|Niraj]",
      "allowed_country_codes": ["US"],
      "countries": {
        "US": {
          "name": "United States",
          "states": {
            "AL": {
              "name": "Alabama"
            },
            "AK": {
              "name": "Alaska"
            },
            "AS": {
              "name": "American Samoa"
            },
            "AZ": {
              "name": "Arizona"
            },
            "AR": {
              "name": "Arkansas"
            },
            "AE": {
              "name": "Armed Forces Middle East"
            },
            "AA": {
              "name": "Armed Forces Americas"
            },
            "AP": {
              "name": "Armed Forces Pacific"
            },
            "CA": {
              "name": "California"
            },
            "CO": {
              "name": "Colorado"
            },
            "CT": {
              "name": "Connecticut"
            },
            "DE": {
              "name": "Delaware"
            },
            "DC": {
              "name": "District of Columbia"
            },
            "FM": {
              "name": "Federated States of Micronesia"
            },
            "FL": {
              "name": "Florida"
            },
            "GA": {
              "name": "Georgia"
            },
            "GU": {
              "name": "Guam"
            },
            "HI": {
              "name": "Hawaii"
            },
            "ID": {
              "name": "Idaho"
            },
            "IL": {
              "name": "Illinois"
            },
            "IN": {
              "name": "Indiana"
            },
            "IA": {
              "name": "Iowa"
            },
            "KS": {
              "name": "Kansas"
            },
            "KY": {
              "name": "Kentucky"
            },
            "LA": {
              "name": "Louisiana"
            },
            "ME": {
              "name": "Maine"
            },
            "MD": {
              "name": "Maryland"
            },
            "MA": {
              "name": "Massachusetts"
            },
            "MI": {
              "name": "Michigan"
            },
            "MN": {
              "name": "Minnesota"
            },
            "MS": {
              "name": "Mississippi"
            },
            "MO": {
              "name": "Missouri"
            },
            "MT": {
              "name": "Montana"
            },
            "NE": {
              "name": "Nebraska"
            },
            "NV": {
              "name": "Nevada"
            },
            "NH": {
              "name": "New Hampshire"
            },
            "NJ": {
              "name": "New Jersey"
            },
            "NM": {
              "name": "New Mexico"
            },
            "NY": {
              "name": "New York"
            },
            "NC": {
              "name": "North Carolina"
            },
            "ND": {
              "name": "North Dakota"
            },
            "MP": {
              "name": "Northern Mariana Islands"
            },
            "OH": {
              "name": "Ohio"
            },
            "OK": {
              "name": "Oklahoma"
            },
            "OR": {
              "name": "Oregon"
            },
            "PA": {
              "name": "Pennsylvania"
            },
            "PR": {
              "name": "Puerto Rico"
            },
            "MH": {
              "name": "Republic of Marshall Islands"
            },
            "RI": {
              "name": "Rhode Island"
            },
            "SC": {
              "name": "South Carolina"
            },
            "SD": {
              "name": "South Dakota"
            },
            "TN": {
              "name": "Tennessee"
            },
            "TX": {
              "name": "Texas"
            },
            "UT": {
              "name": "Utah"
            },
            "VT": {
              "name": "Vermont"
            },
            "VI": {
              "name": "Virgin Islands of the U.S."
            },
            "VA": {
              "name": "Virginia"
            },
            "WA": {
              "name": "Washington"
            },
            "WV": {
              "name": "West Virginia"
            },
            "WI": {
              "name": "Wisconsin"
            },
            "WY": {
              "name": "Wyoming"
            }
          }
        }
      },
      "country_lang_mapping": {
        "US": {
          "state": "State:",
          "zip": "Zip Code:"
        },
        "GB": {
          "state": "County:",
          "zip": "Postal Code:"
        },
        "CA": {
          "state": "Province:",
          "zip": "Pin Code:"
        },
        "IN": {
          "state": "State:",
          "zip": "Pin:"
        }
      },
      "device_is_mobile": false,
      "pageType": "leadPage",
      "enable_browser_back_button": false
    }
  </script>
  <script type="text/javascript">
    app_lang = {
      "error_messages": {
        "zip_invalid": "Please enter a valid zip code!",
        "email_invalid": "Please enter a valid email id!",
        "cc_invalid": "Please enter a valid credit card number!",
        "cvv_invalid": "Please enter a valid CVV code!",
        "card_expired": "Card seems to have expired already!",
        "common_error": "Oops! Something went wrong! Can you please retry?",
        "not_checked": "Please check the agreement box in order to proceed.",
        "ca_zip_invalid": "Invalid Canada state code",
        "xv_invalid_shipping": "Your shipping address could not be verified",
        "xv_email": "Your email address could not be verified",
        "xv_phone": "Your phone number could not be verified"
      },
      "exceptions": {
        "config_error": "General config error",
        "config_file_missing": "General config error",
        "invalid_array": "Argument is not a valid array",
        "empty_prospect_id": "Prospect ID is empty or invalid",
        "curl_error": "Something went wrong with the request, Please try again.",
        "generic_error": "Something went wrong with the request, Please try again."
      }
    };
  </script>
  <script type="text/javascript">
    var cbUtilConfig = {
      "disable_non_english_char_input": false
    };
  </script>
  <script>
    var input_mask_data = {
      "enable_masking": false,
      "masking_device": ["desktop"],
      "credit_card_place_holder_active": true,
      "credit_card_masking_placeholder": "blank",
      "credit_card_masking": "dash_masking",
      "phone_number_masking": "(000) 000-0000"
    };
  </script> -->

  <script src="https://www.trymagnumpump.com/ed/v2/assets/dist/codebase.min.js" type="text/javascript"></script> -->
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4VkyFrDGTUXNYDbAKWR4XDretoRJ-5-8"></script>
  <script>
    var event_type = 'blur';
    var autopopulate_by = 'zip'
  </script>
  <script src="https://www.trymagnumpump.com/ed/v2/app/desktop/js/slick.js"></script>
  <script src="https://www.trymagnumpump.com/ed/v2/app/desktop/js/bookmarkscroll.js"></script>
  <script src="https://www.trymagnumpump.com/ed/v2/app/desktop/js/jquery.placeholder.js"></script>

  <script type="text/javascript">
    $(function() {
      // Invoke the plugin
      $('input, textarea').placeholder({
        customClass: 'my-placeholder'
      });
      // That’s it, really.
    });

    $('.slider').slick({
      dots: !0,
      autoplay: !0,
      autoplaySpeed: 15000,
      adaptiveHeight: !0,
      fade: !1,
      focusOnSelect: !1,
      arrows: !1,
      slidesToShow: 1,
      responsive: [{
        breakpoint: 767,
        settings: {
          slidesToShow: 1,
          slidesToScroll: 1,
        }
      }]
    })
  </script>

  <script type="text/javascript">
    if (typeof console == 'undefined') {
      var console = {};
      console.log = function() {};
      console.debug = function() {};
      console.info = function() {};
    }
  </script>

</body>

</html>
